<ion-header>
    <ion-toolbar color="Pink">

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>

        <body style="background-image:url('https://ca-times.brightspotcdn.com/dims4/default/fe4cc0c/2147483647/strip/true/crop/800x535+0+0/resize/840x562!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fe3%2Fe0%2F375ee4d44410b49b70c3c0a76713%2Fsoccer-ball.jpg');">
            <ion-col>
                <ion-button expand="block" (click)="goStats()">Match Stats</ion-button>
            </ion-col>
            <ion-row>
                <ion-col col-6>
                    <h4>Orlando Pirates</h4>
                    <!-- <img src="https://cdn.soccerladuma.co.za/cms2/image_manager/uploads/News/683543/7/1597435144_8fed6.png" style="width:50%"> -->
                    <h4 class="text">{{count}}</h4>
                    <ion-col>
                        <ion-button color="primary" expand="block" (click)="goCounter()">Goal Add </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button color="secondary" expand="block" (click)="goCounterMinus()">Goal Minus </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button color="warning" expand="block" (click)="goYellow()">Yellow Card</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button color="danger" expand="block" (click)="goRed()">Red Card</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button color="medium" expand="block" (click)="goOffTeamA()">Off Side</ion-button>
                    </ion-col>
                </ion-col>
                <ion-col col-6>
                    <h4>Sundowns</h4>
                    <!-- <img src="https://cdn.soccerladuma.co.za/cms2/image_manager/uploads/News/665743/7/1571739977_2b392.jpg" style="width:50%"> -->
                    <h4 class="text">{{counte}}</h4>
                    <ion-col>
                        <ion-button color="primary" expand="block" (click)="goCounta()">Goal Add </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button color="secondary" expand="block" (click)="goCountaMini()">Goal Minus </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button color="warning" expand="block" (click)="goYellows()">Yellow Card</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button color="danger" expand="block" (click)="goReds()">Red Card</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button color="medium" expand="block" (click)="goOffTeamB()">Off Side</ion-button>
                    </ion-col>
                </ion-col>
                <ion-col>
                    <ion-button color="dark" expand="block" (click)="reset()">Reset</ion-button>
                </ion-col>
            </ion-row>
        </body>
    </ion-grid>
</ion-content>